BODY {
	FONT-SIZE: 12px; MARGIN: 0px
}
TD {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #5b5c51; TEXT-DECORATION: none
}
A:visited {
	COLOR: #5b5c51; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.lineh_150 {
	LINE-HEIGHT: 150%
}
A.a1:link {
	COLOR: #f38107; TEXT-DECORATION: none
}
A.a1:visited {
	COLOR: #f38107; TEXT-DECORATION: none
}
A.a1:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A.a2:link {
	COLOR: #cf1919; TEXT-DECORATION: none
}
A.a2:visited {
	COLOR: #cf1919; TEXT-DECORATION: none
}
A.a2:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A.a3:link {
	COLOR: #ff8447; TEXT-DECORATION: none
}
A.a3:visited {
	COLOR: #ff8447; TEXT-DECORATION: none
}
A.a3:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.bold {
	FONT-WEIGHT: bold
}
.float {
	FLOAT: left; COLOR: #98050f
}
.mt10 {
	MARGIN-TOP: 10px
}
.input_text {
	WIDTH: 150px; HEIGHT: 18px
}
.nav {
	FONT-WEIGHT: bold; COLOR: #fff49c
}
.nav SPAN {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 29px; HEIGHT: 29px
}
.nav A {
	DISPLAY: block; FLOAT: left; WIDTH: 85px; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: center
}
.nav A:link {
	COLOR: #fff49c; TEXT-DECORATION: none
}
.nav A:visited {
	COLOR: #fff49c; TEXT-DECORATION: none
}
.nav A:hover {
	COLOR: #ffe513; TEXT-DECORATION: underline
}
.nav .sy {
	WIDTH: 65px
}
.nav01 {
	COLOR: #430101
}
.nav01 DIV {
	DISPLAY: none; BACKGROUND: url(../images/c_n1_bj2.gif) no-repeat 17px top; OVERFLOW: hidden; LINE-HEIGHT: 34px; HEIGHT: 28px
}
.nav01 A {
	MARGIN-RIGHT: 13px
}
.nav01 A:link {
	COLOR: #430101; TEXT-DECORATION: none
}
.nav01 A:visited {
	COLOR: #430101; TEXT-DECORATION: none
}
.nav01 A:hover {
	FONT-WEIGHT: bold; COLOR: #430101; TEXT-DECORATION: underline
}
.cont_box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.copy {
	BORDER-RIGHT: #e1e1e1 0px solid; BORDER-TOP: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 0px solid; BORDER-BOTTOM: #e1e1e1 1px solid
}
.bt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #98050f
}
.left {
	
}
.left A:link {
	COLOR: #98050f; TEXT-DECORATION: none
}
.left A:visited {
	COLOR: #98050f; TEXT-DECORATION: none
}
.left A:hover {
	FONT-WEIGHT: bold; COLOR: #ff9900; TEXT-DECORATION: underline
}
.left .bt {
	COLOR: #ffffff
}
.left_list {
	MARGIN-TOP: 6px; COLOR: #430101
}
.left_list TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 23px; TEXT-ALIGN: left
}
.left .dc {
	FLOAT: right; WIDTH: 43px; COLOR: #98050f
}
.left .zhm {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 175px; WHITE-SPACE: nowrap
}
.c_bt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #98050f
}
.list1 TD {
	BACKGROUND: url(../images/index/c_3_4_2.gif) repeat-x 0px bottom; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.list1 A {
	DISPLAY: block; PADDING-LEFT: 25px; BACKGROUND: url(../images/index/c_3_4_1.gif) no-repeat 8px 9px; LINE-HEIGHT: 27px; HEIGHT: 27px; TEXT-ALIGN: left
}
.list1 A:link {
	TEXT-DECORATION: none
}
.list1 A:visited {
	TEXT-DECORATION: none
}
.list1 A:hover {
	TEXT-DECORATION: underline
}
#zhgl .dc A:link {
	COLOR: #98050f; TEXT-DECORATION: none
}
#zhgl .dc A:visited {
	COLOR: #98050f; TEXT-DECORATION: none
}
#zhgl .dc A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.nav03 {
	COLOR: #98050f
}
.nav03 A:link {
	COLOR: #98050f; TEXT-DECORATION: none
}
.nav03 A:visited {
	COLOR: #98050f; TEXT-DECORATION: none
}
.nav03 A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.nav03 .dbg {
	BACKGROUND: url(../images/2/c_1_1_bj.gif) repeat-x 0px center
}
.bz01 {
	COLOR: #eeeedd; BORDER-BOTTOM: #430101 1px solid
}
.bz01 .bt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #e24515
}
.bz01 .on {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.bz01 .bzbt TABLE {
	FLOAT: left; MARGIN-RIGHT: 2px
}
.dlq {
	COLOR: #686868
}
.c_bt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #974b00
}
#n01 {
	BACKGROUND: url(../images/c_n1_bj2.gif) no-repeat 3px top; MARGIN-LEFT: 129px
}
#n02 {
	MARGIN-LEFT: 194px
}
#n03 {
	MARGIN-LEFT: 286px
}
#n04 {
	MARGIN-LEFT: 378px
}
#n05 {
	MARGIN-LEFT: 470px
}
#n06 {
	MARGIN-LEFT: 562px
}
#n07 {
	BACKGROUND: url(../images/c_n1_bj2.gif) no-repeat 3px top; MARGIN-LEFT: 654px
}
#index #n01 {
	DISPLAY: block
}
#zhgl #n02 {
	DISPLAY: block
}
#mmgl #n03 {
	DISPLAY: block
}
#czzx #n04 {
	DISPLAY: block
}
#aqzx #n05 {
	DISPLAY: block
}
#djzx #n06 {
	DISPLAY: block
}
#help #n07 {
	DISPLAY: block
}
.DefaultMsg {
	MARGIN-LEFT: 10px; COLOR: #5a595a; PADDING-TOP: 3px
}
.DefaultMsg1 {
	MARGIN-LEFT: 10px; COLOR: #ff3300; PADDING-TOP: 3px
}
.DefaultMsg2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 10px; COLOR: #ff6600; PADDING-TOP: 3px; TEXT-DECORATION: underline
}
.SelectMsg {
	BORDER-RIGHT: #00aaff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00aaff 1px solid; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND: url(../images/msg_warning.gif) #e7f7ff no-repeat 5px 50%; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 4px; BORDER-LEFT: #00aaff 1px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #00aaff 1px solid; HEIGHT: 12px
}
.WarningMsg {
	BORDER-RIGHT: #ffbabe 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffbabe 1px solid; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND: url(../images/msg_warning.gif) #ffeaf7 no-repeat 5px 50%; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 4px; BORDER-LEFT: #ffbabe 1px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #ffbabe 1px solid; HEIGHT: 12px
}
.FailedMsg {
	BORDER-RIGHT: #ff6600 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff6600 1px solid; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND: url(../images/standard_msg_error.gif) #fff2e9 no-repeat 5px 50%; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 4px; BORDER-LEFT: #ff6600 1px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #ff6600 1px solid; HEIGHT: 12px
}
.SucceedMsg {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND: url(../images/standard_msg_ok.gif) #e6ffe6 no-repeat 5px 45%; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 4px; COLOR: #000; PADDING-TOP: 4px; HEIGHT: 12px
}
.wwww {
	BORDER-RIGHT: #98050f 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #98050f 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-SPACING: normal; BORDER-LEFT: #98050f 1px solid; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #98050f 1px solid; FONT-STYLE: normal; FONT-FAMILY: "ו"; LETTER-SPACING: normal; TEXT-DECORATION: none
}
